{{ $mp4 := .Resources.Match "video.mp4" | first }}
{{ $link := .Resources.GetMatch "link.txt" }}
{{ if $mp4 }}
<div class="video-container">
  <video controls>
    <source src="{{ $mp4.Permalink }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
{{ else if $link }}
  {{ $url := $link.Content | chomp | string }}
  {{ if or (strings.Contains $url "youtube.com") (strings.Contains $url "youtu.be") }}
    {{ $id := cond (strings.Contains $url "youtube.com") (index (strings.Split (index (strings.Split $url "?") 0) "/") (sub (len (strings.Split (index (strings.Split $url "?") 0) "/")) 1)) (index (strings.Split $url "/") (sub (len (strings.Split $url "/")) 1)) }}
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/{{ $id }}" allowfullscreen></iframe>
    </div>
  {{ else if strings.HasSuffix $url ".mp4" }}
    <div class="video-container">
      <video controls>
        <source src="{{ $url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  {{ else }}
    <div class="video-container">
      <iframe src="{{ $url }}" allowfullscreen></iframe>
    </div>
  {{ end }}
{{ else }}
<p>No video or link found.</p>
{{ end }}
