<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {{ $css := resources.Get "css/main.css" | minify }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{ $timelineCss := resources.Get "css/timeline.css" | minify }}
    <link rel="stylesheet" href="{{ $timelineCss.Permalink }}">
    {{ if .IsHome }}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {{ end }}
</head>
<body>
    {{ partial "header" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer" . }}
    {{ $js := resources.Get "js/slider.js" }}
    <script src="{{ $js.Permalink }}"></script>
    {{ $timelineJs := resources.Get "js/timeline.js" }}
    <script src="{{ $timelineJs.Permalink }}"></script>
</body>
</html>
